$bodybg:#EEEEEE;
$formbg:#FFFFFF;
$formtop:#3AC7EC;
$forgottxt:#1F7A54;
$formtxt:#222222;
$radiotxt:#333333;
$labeltxt:#666666;
$btnbg:#3FD28B;
$btntxt:#1F2834;
$footerbg:#00000029;
$footertxt:#616161;
$headerbg:#25313F;
$headerbtm:#31B9E4;