@font-face {
    font-family: Quicksand;
    src: url('../quantum\ screen\ assets/Quicksand\ font\ 1/Quicksand-VariableFont_wght.ttf');
}
@font-face {
    font-family: Quicksand-Bold;
    src: url('../quantum\ screen\ assets/Quicksand\ font\ 1/static/Quicksand-Bold.ttf');
}@font-face {
    font-family: Quicksand-Light;
    src: url('../quantum\ screen\ assets/Quicksand\ font\ 1/static/Quicksand-Light.ttf');
}@font-face {
    font-family: Quicksand-Medium;
    src: url('../quantum\ screen\ assets/Quicksand\ font\ 1/static/Quicksand-Medium.ttf');
}@font-face {
    font-family: Quicksand-Regular;
    src: url('../quantum\ screen\ assets/Quicksand\ font\ 1/static/Quicksand-Regular.ttf');
}@font-face {
    font-family: Quicksand-SemiBold;
    src: url('../quantum\ screen\ assets/Quicksand\ font\ 1/static/Quicksand-SemiBold.ttf');
}