@font-face {
  font-family: Quicksand;
  src: url("../quantum screen assets/Quicksand font 1/Quicksand-VariableFont_wght.ttf");
}
@font-face {
  font-family: Quicksand-Bold;
  src: url("../quantum screen assets/Quicksand font 1/static/Quicksand-Bold.ttf");
}
@font-face {
  font-family: Quicksand-Light;
  src: url("../quantum screen assets/Quicksand font 1/static/Quicksand-Light.ttf");
}
@font-face {
  font-family: Quicksand-Medium;
  src: url("../quantum screen assets/Quicksand font 1/static/Quicksand-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: Quicksand-Regular;
  src: url("../quantum screen assets/Quicksand font 1/static/Quicksand-Regular.ttf");
}
@font-face {
  font-family: Quicksand-SemiBold;
  src: url("../quantum screen assets/Quicksand font 1/static/Quicksand-SemiBold.ttf");
}
@keyframes maximize-vertically {
  from {
    height: 0;
  }
  to {
    height: 800px;
  }
}
@keyframes minimize-vertically {
  from {
    height: 800px;
  }
  to {
    height: 48px;
  }
}
.navbar-container {
  display: grid;
  z-index: 2;
  grid-template-areas: "item";
  background: url("../quantum screen assets/header pattern svg.svg");
  height: 58px;
  position: fixed;
  width: 100%;
}

.navbar-container::before {
  /* background:transparent url('../quantum\ screen\ assets/header\ pattern\ image.png') ; */
  content: "";
  grid-area: item;
  background-color: #25313F;
  height: 56px;
  width: 100%;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  /* -webkit-mask-image: url('../quantum\ screen\ assets/header\ pattern\ svg.svg');
  mask-image: url('../quantum\ screen\ assets/header\ pattern\ svg.svg');
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat; */
}

.navbar {
  grid-area: item;
  isolation: isolate;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #31B9E4;
}

.name-logo-header {
  /* background-color: #fff; */
  /* isolation: isolate; */
  background: transparent url("../quantum screen assets/icons/logo used in header.svg") 0% 0% no-repeat;
  /* mix-blend-mode: ; */
  height: 36px;
  width: 134px;
  opacity: 1;
  margin-left: 24px;
  /* top:-48px;
  right:-24px; */
}

.nav-element {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  gap: 32px;
  margin-right: 24px;
  color: #3FD28B;
  height: 100%;
}

.nav-item {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.nav-item.active {
  border-bottom: 2px solid #FFFFFF;
  color: #FFFFFF;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 900px) {
  .nav-item.menu-item {
    display: none;
  }
  .menu-icon {
    display: flex;
  }
  .menu-icon:hover .menu-icon-img {
    filter: brightness(0) invert(1);
  }
  .menu-icon:hover .menu-container {
    max-height: 500px;
  }
}
.menu-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 280px;
  background-color: #FFFFFF;
  top: 54px;
  right: -10px;
  box-shadow: 0px 13px 20px rgba(0, 0, 0, 0.2392156863);
  max-height: 0;
  transition: max-height 2s ease;
  overflow: hidden;
}
.menu-container .menu-item {
  padding: 16px;
  color: #1F7A54;
}
.menu-container .menu-item .flex {
  display: flex;
  justify-content: space-between;
}
.menu-container .menu-item .arrow {
  margin-right: 0;
  margin-left: auto;
}
.menu-container .menu-item .sub-menu {
  display: none;
}
.menu-container .menu-item:hover {
  background-color: #F3F3F3;
}
.menu-container .menu-item:hover .sub-menu {
  display: flex;
  direction: column;
  padding-left: 32px;
  padding-top: 16px;
}
.menu-container .menu-item:hover .arrow {
  rotate: 180deg;
}

.anouncement-container {
  display: flex;
  position: absolute;
  top: 56px;
  right: -10px;
  width: 315px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
  background-color: #FFFFFF;
  color: black;
  transition: max-height 2s;
  flex-direction: column;
  max-height: 0;
  overflow: hidden;
}
.anouncement-container .content {
  gap: 8px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(34, 34, 34, 0.1215686275);
  padding: 16px;
}
.anouncement-container .buttons {
  display: none;
  height: 48px;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2392156863);
}
.anouncement-container button {
  width: 50%;
  margin-top: 9px;
  margin-bottom: 9px;
  border: none;
  border-right: 1px solid rgba(0, 0, 0, 0.38);
  background-color: #FFFFFF;
  color: #1F7A54;
  font-size: 14px;
}
.anouncement-container .buttons :nth-last-child(1) {
  border: none;
}
.anouncement-container .pa {
  display: flex;
  font-size: 12px;
}
.anouncement-container .read {
  margin-right: 0;
  margin-left: auto;
}
.anouncement-container .content-footer {
  display: flex;
  background-color: inherit;
  justify-content: space-between;
  font-size: 12px;
}
.anouncement-container .content-footer .attachment {
  margin: 0;
}
.anouncement-container .content-container {
  max-height: 524px;
  overflow-y: scroll;
  /* Track */
  /* Handle */
}
.anouncement-container .content-container::-webkit-scrollbar {
  width: 5px;
}
.anouncement-container .content-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.anouncement-container .content-container::-webkit-scrollbar-thumb {
  background: #888;
}
.anouncement-container .fade {
  color: #6E6E6E;
}
.anouncement-container .title {
  font-size: 14px;
}
.anouncement-container .read {
  border-radius: 50%;
  background-color: #1F7A54;
  color: #FFFFFF;
  padding: 2px;
  font-size: 10px;
}
.anouncement-container .unchecked {
  background-color: #FFFFEE;
}
.anouncement-container .unchecked .read {
  color: #1F7A54;
  background-color: transparent;
  font-size: 17px;
  padding: 0;
}

.anouncement-icon:hover .anouncement-container {
  max-height: 567px;
}
.anouncement-icon:hover .anouncement-container .buttons {
  display: flex;
}
.anouncement-icon:hover .anouncement-icon-img {
  filter: brightness(0) invert(1);
}

.alert-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 56px;
  right: -10px;
  width: 315px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
  background-color: #FFFFFF;
  color: black;
  max-height: 0;
  transition: max-height 0.3s ease;
  overflow: hidden;
}
.alert-container .content {
  gap: 8px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(34, 34, 34, 0.1215686275);
  padding: 16px;
}
.alert-container .buttons {
  display: none;
  height: 48px;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2392156863);
}
.alert-container button {
  width: 100%;
  margin-top: 9px;
  margin-bottom: 9px;
  border: none;
  background-color: #FFFFFF;
  color: #1F7A54;
  font-size: 14px;
}
.alert-container .pa {
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  align-items: baseline;
}
.alert-container .read {
  border-radius: 50%;
  background-color: #1F7A54;
  color: #FFFFFF;
  padding: 2px;
  font-size: 10px;
}
.alert-container .content-footer {
  display: flex;
  background-color: inherit;
  justify-content: space-between;
  font-size: 12px;
}
.alert-container .content-footer .attachment {
  margin: 0;
}
.alert-container .content-container {
  max-height: 524px;
  overflow-y: scroll;
  /* Track */
  /* Handle */
}
.alert-container .content-container::-webkit-scrollbar {
  width: 5px;
}
.alert-container .content-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.alert-container .content-container::-webkit-scrollbar-thumb {
  background: #888;
}
.alert-container .fade {
  color: #6E6E6E;
}
.alert-container .title {
  font-size: 14px;
}
.alert-container .read {
  border-radius: 50%;
  background-color: #1F7A54;
  color: #FFFFFF;
  padding: 2px;
}
.alert-container .unchecked {
  background-color: #FFFFEE;
}
.alert-container .unchecked .read {
  color: #1F7A54;
  background-color: transparent;
  font-size: 17px;
  padding: 0;
}

.alert-icon:hover .alert-container {
  max-height: 567px;
}
.alert-icon:hover .alert-container .buttons {
  display: flex;
}
.alert-icon:hover .alert-icon-img {
  filter: brightness(0) invert(1);
}

.flex-container {
  /* background-color: $bodybg; */
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

.main {
  height: 100%;
  background-color: #EEEEEE;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container {
  border-top: 4px solid #3AC7EC;
  height: 584px;
  width: 488px;
  background-color: #FFFFFF;
  font-size: 16px;
  padding: 22px 32px;
  color: #222222;
}

.login {
  height: 100%;
}

.back-arrow {
  height: 26px;
  width: 17px;
  background: url("../quantum screen assets/icons/back.svg");
}

.form-header {
  display: flex;
}

.form-header-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  margin-bottom: 32px;
  color: #222222;
}

.form-radio {
  display: flex;
}

.form-radio-item {
  margin-right: 20px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
}

.form-radio-img {
  height: 25px;
  width: 25px;
  background: transparent;
  background-image: url("../quantum screen assets/icons/radio-button-off.svg");
  opacity: 1;
  margin-right: 8px;
}

.form-dropdown {
  margin-bottom: 36px;
}

.form-dropdown-title {
  display: block;
  font-size: 12px;
  color: #666666;
}

.form-dropdown-select {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  height: 25px;
  font-size: 16px;
  font-family: "Quicksand-Medium";
}

.district {
  margin-bottom: 56px;
}

option {
  padding: 0;
  margin: 0;
}

.form-text {
  font-size: 16px;
  margin-bottom: 33px;
}

.form-text-input {
  font-size: 16px;
  height: 25px;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  padding-bottom: 4px;
}

.form-password {
  margin-bottom: 24px;
}

.password-eye {
  position: relative;
  background: transparent;
  background-image: url("../quantum screen assets/icons/preview.svg");
  height: 20px;
  width: 25px;
  top: -30px;
  left: 467px;
}

.form-forgot {
  display: block;
  width: 100%;
  text-align: end;
  margin-top: 5px;
}

.form-forgot > a {
  color: #1F7A54;
}

.form-password > .form-forgot > a {
  position: relative;
  top: -20px;
}

.form-check {
  height: 24px;
  font-size: 16px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}

.form-check-input {
  margin: 3px 0;
  height: 24px;
  width: 18px;
}

.form-check-img {
  height: 24px;
  width: 24px;
  background: transparent;
  background-image: url("../quantum screen assets/icons/checkbox-unchecked.svg");
  opacity: 1;
}

.form-check-label {
  margin-left: 5px;
  width: 100%;
  height: 24px;
  color: #222222;
  line-height: 24px;
}

.form-btn-container {
  height: 78px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-btn {
  background-color: #3FD28B;
  color: #1F2834;
  height: 40px;
  width: 216px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2392156863);
  border: none;
  font-size: 14px;
}

input[type=radio], input[type=checkbox] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

input[type=radio]:checked ~ .form-radio-img {
  background-image: url("../quantum screen assets/icons/radio-button-on.svg");
}

input[type=checkbox]:checked ~ .form-check-img {
  background-image: url("../quantum screen assets/icons/checkbox-checked.svg");
}

select {
  background: url("../quantum screen assets/icons/arrow-down.svg") no-repeat;
  background-position-x: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.footer {
  background: rgba(0, 0, 0, 0.1607843137);
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.footer-logo {
  background: url("../quantum screen assets/icons/logo used in footer.svg") 0% 0% no-repeat;
  opacity: 1;
  height: 24px;
  width: 90px;
  /* margin-right: 16px; */
}

.footer-divider {
  margin-right: 16px;
  margin-left: 16px;
  font-size: 24px;
}

.footer > * {
  margin: auto 8px;
}

.footer-name {
  font-family: "Quicksand-Bold";
}

.footer-container {
  margin-bottom: 0;
  margin-top: auto;
}

body {
  margin: 0;
  font-family: "Quicksand-Medium";
}

.about-footer {
  background-color: #EEEEEE;
  display: flex;
  justify-content: center;
  padding-bottom: 16px;
  align-items: center;
}

a {
  text-decoration: none;
  color: #1F7A54;
  font-family: "Quicksand-Medium";
  font-size: 16px;
}

.about-footer > .footer-divider {
  font-size: 18px;
  color: #666666;
}/*# sourceMappingURL=login.css.map */